@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

body {
  @apply bg-slate-50 text-slate-900;
}

h1,
h2 {
  line-height: 1.2 !important;
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}
p,
span,
a {
  font-family: "Josefin Sans", sans-serif;
  /* font-weight: 500; */
  font-style: normal;
}

/* custom-scroll.css */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #e9e3ff, #dff8ff);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #4c8cff, #7a44e8);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #3b7cff, #6a38d8);
}
